@font-face {
	font-family:"Century Gothic";
	src: url(GOTHICI.ttf);
}

body {
	background-color: rgb(136,132,127);
}

#header {
	width:100%;
	position: relative;
}

#footer {
	width:100%;
	position: relative;
}

#titlespacer {
	width:100%;
	position:relative;
	padding-top:35%;
	float:left;
}

#titlebox {
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

#headerimage {
	width:100%;
	height:100%;
	position:absolute;
	z-index:-5;
}

#footerimage {
	width: 100%;
}

#title {
	position: relative;
	margin-left:8%;
	margin-right:8%;
	font-size:5em;
	font-family: "Century Gothic", sans-serif;
	font-style: italic;
	float:left;
	text-align:center;
	color: rgb(156,156,156);
	text-shadow: 2px 2px #000000;
}


#subtitle {
	position: relative;
	margin-left: 12%;
	margin-right:8%;
	font-size: 3em;
	font-family: "Century Gothic", sans-serif;
	font-style: italic;
	color: rgb(80,80,80);
	text-align:center;
	border-bottom: 5px solid rgb(191,186,180);
	padding: 5px 0;
	padding-top: 1em;
	padding-bottom: .75em;
}

#subtitlespacer {
	width:100%;
	height:1.5em;
}

.sectionimage {
	width:100%;
	position: absolute;
}

.sectionbox {
	position:relative;
	width:100%;
	height:0px;
	padding-bottom:66.6666%;
}

.sectionspacer {
	width:100%;
	height:1.5em;
}

.sectiontitle {
	font-family:"Century Gothic";
	font-size: 4em;
	text-align:center;
	color: rgb(156,156,156);
	padding-top:50%;
	text-shadow: 2px 2px #000000;
}

.content {
	clear: both;
	width: 1100px;
	margin: auto;
	position: relative;
	background-color: rgb(156,152,147);
	text-align:justify;
}

iframe {
	width:100%;
}

.map {
	padding-bottom:1.5em;
	width:100%;
}

a {
	text-decoration:none;
	color:rgb(24,24,18);
}

p,.onethird {
	font-family: Georgia;
	font-size: 1.25em;
	color: rgb(74,74,68);
	background-color: rgb(156,152,147);
	line-height:150%;
	padding-bottom:1.25em;
}

.widetext {
	width: 80%;
	margin: auto;
}

.widespacer {
	clear: both;
}

.twothirds {
	float: left;
	width: 55%;
}

.thirdtextleft {
	margin-left: 18%;
	margin-right: 2%;
}

.thirdtextright {
	margin-right:13%;
	margin-left:4%;
}

.onethird {
	float: left;
	width: 45%;
	background-color: rgb (0,0,100);
}

.photo {
	width:60%;
	padding-top: 10px;
	margin-left: 55px;
}

.captionright {
	font-family: "Century Gothic";
	width: 65%;
	margin-left: 8%;
	margin-right: 30%;
	font-size: 0.75em;
}

.photobox {
	width:100%;
	height:auto;
	display: inline-flex;
}

.datatitle{
	padding-top: 10px;
}

.dataleft {
	font-family: "Century Gothic", sans-serif;
	width: 80%;
	font-style: italic;
	font-size: 1.25em;
	margin-right: 3%;
	margin-left: 17%;
	position:relative;
	display: inline-flex;
	height:auto;
}

.databox {
	width:100%;
	margin: auto 0px;
}

.line {
	width:100%;
	height:1px;
	background-color: rgb(191,186,180);
	border-bottom:1px solid rgb(124,127,101);
}

th, td {
	padding: 12px;
	font-size:.75em;
}

.hover {
	color: rgb(227, 165, 80);
}

@media screen and (max-width:1150px) and (min-width:951px) {
	#title {
		font-size:3em;
	}

	#subtitle {
		font-size: 2em;
	}

	.sectiontitle {
		font-size: 2em;
	}

	p {
		font-size:1em;
	}

	.dataleft {
		font-size:0.75em;
		height: 300px;
		line-height: 140%;
	}

	th,td {
		font-size:0.7em;
		padding: 5px;
	}

	.photobox {
		height:350px;
	}

	.content {
		width: 900px;
	}

	th, td {
		padding: 10px;
		font-size:1em;
	}
}

@media screen and (max-width:950px) and (min-width:820px) {
	#title {
		font-size:3em;
	}

	#subtitle {
		font-size: 2em;
	}

	.sectiontitle {
		font-size: 2em;
	}

	p {
		font-size:1em;
	}

	.dataleft {
		font-size:0.75em;
		height: 300px;
		line-height: 145%;
	}

	th,td {
		font-size:0.7em;
		padding: 1px;
	}

	.photobox {
		height:350px;
	}

	.content {
		width: 800px;
	}

	th, td {
		padding: 10px;
		font-size:.9em;
	}
}

@media screen and (max-width:819px) {
	#title {
		font-size:1.5em;
	}

	#subtitle {
		font-size: 1.25em;
	}

	.sectiontitle {
		font-size: 1.5em;
	}

	p {
		font-size:1em;
	}

	.dataleft {
		font-size:0.75em;
		height: 420px;
		margin-left:10%;
		margin-right:10%;
	}

	th,td {
		font-size:0.7em;
		padding: 2px;
	}

	.photobox {
		height:350px;
	}

	.content {
		width: 100%;
	}

	th, td {
		padding: 10px;
		font-size:.9em;
	}

	.twothirds {
		width:100%;
	}

	.thirdtextleft, .thirdtextright {
		width: 80%;
		margin: auto;
	}

	.onethird {
		width:100%;
		margin:auto;
	}

	.photo {
		width: 80%;
		margin-left: 10%;
		margin-right:10%;
	}
}